apiVersion: apps/v1
kind: Deployment
metadata:
  name: api
  labels:
    app: api
spec:
  replicas: 1
  selector:
    matchLabels:
      app: api
  template:
    metadata:
      labels:
        app: api
    spec:
      containers:
      - name: api
        image: israelerlan1/week16:v4
        ports:
        - containerPort: 8000
        env: 
        - name: MONGO_URI
          value: "mongodb://localhost:27017"
        - name: MONGO_DB
          value: "testdb"
        - name: MONGO_COLLECTION
          value: "testcollection"
